parameters:
	ignoreErrors:
		-
			message: "#^PHPDoc tag @throws with type Elasticsearch\\\\Common\\\\Exceptions\\\\ElasticsearchException is not subtype of Throwable$#"
			count: 1
			path: src/Manager/IndexManager.php

		-
			message: "#^Strict comparison using \\!\\=\\= between null and null will always evaluate to false\\.$#"
			count: 1
			path: src/Manager/IndexManager.php
